* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color:#e1dbdb;
    font-family: 'Roboto', 'sans-serif', Calibri ;
}

:root {
    --darkColor:#1b1b1a;
    --lightFontColor:#fff;
    --yellowColor:#ffbf00;
}

/* Manages the background color of the body */
body {
    background-color: #4e4c4c;
}

/* Manages the styling of the header */
.header {
    font-size: 165%;
    font-family: 'Roboto', 'Gill Sans MT', Calibri;
    background-color: #000000;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.profile-sections{
    display: flex;
    flex-direction: row;
    margin: 10px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* It controls the styling of the paragraph section */
.content p {
    /* flex: 0 0 88%; */
    padding: 25px;
} 

.content h2 {
    text-align: center;
    font-size: 25px;
    padding-bottom: 20px;
}


.red-border {
    border-right: 5px solid #ffbf00;
    padding-right: 40px;
}


/* .content h2 img{
    flex: 0 0 10%;
    flex-direction: column;
} */



.header h1 {
    display: inline-flex;
    font-size: 48px;
    font-weight: 900;
    color: var(--lightFontColor);
}

ul {
    text-align: right;
}

li {
    /* Sets display to inline */
    display: inline;
    list-style-type: none;
  }

/* manages the styling of all the little images */
.title-image {
    display: block;
    margin: auto;
    width: 80px;
    min-width: 50px;
    background-color: whitesmoke;
    padding: 5%;
    border-radius: 8px;
    border: 2px solid #333;
}